@media only screen and (min-width:991px){

}
@media only screen and (min-width:768px) and (max-width:991px){
    h2{
        font-size: 52px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 21px;
    }
    h5{
        font-size: 18px;
        width: 100%;
        text-align: center;
        line-height: 28px;
    }
    h6{
        font-size: 15px;
    }
    .h7{
        font-size: 15px;
    }
    #email-box {
        margin: 7% 0 0 17%;
    }
    .content-mid .contents{
        /*float: left;*/
        padding: 0;
        max-width: 705px;
     }
    .content-top .contents h4 {
        width: 69%;
        margin: 4% 0 0 17%;
    }
     .mid-top .contents .txt-center,
     .mid-center .contents img, 
     .mid-center .contents .txt-right,
     .mid-bottom .contents img,
     .mid-bottom .contents .txt-left
     {
        float: none;
        width: auto;
        text-align: center;
        padding-top: 20px;
     }
     .mid-center{
        padding-top: 0;
     }
     .mid-bottom{
        padding-bottom: 20px;
     }
     .hand .contents{
        max-width: 700px;
        padding-left: 10%;
     }
     .hand .txt{
        font-size: 30px;
        padding: 103px 9px 142px 201px;
    }
    .content-bottom .contents{
        padding: 20px 0 30px;
        max-width: 786px;
     }
     .content-bottom .contents h4{
        font-size: 21px;
        width: 80%;
        margin: 0 11%;
     }
}
@media only screen and (min-width:320px) and (max-width:768px){
    h2{
        font-size: 38px;
        line-height: 42px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 17px;
    }
    h5{
        font-size: 20px;
        line-height: 24px;
        padding-top: 10px;
        text-align: center;
        margin: 0 3%;
    }
    h6{
        font-size: 13px;
    }
    .h7{
        font-size: 13px;
    }
    .top-nav-left {
        float: left;
        width: 34%;
    }
    .top-nav-left li {
        padding-right: 7px;
    }
    .top-nav-left a {
        font-size: 12pt;
    }
    .top-nav-right {
        width: 20%;
    }
    .top-nav-right li a{
        margin-left: -12px;
    }
    .logo {
        float: left;
        width: 41%;
        margin-left: 0%; 
    }
    .logo img{
        width: 100%;
    }
    header .fb,
    header .tweet
    {
        background-size: 70% 70%;
    }
    input[type="email"] {
        margin: 0 0 0 9%;
    }
    /*#email-box {
        margin: 5% 0% 0 11%;
    }*/
    .content-mid .contents {
        padding: 51px 0 0;
    }
    .mid-center{
        padding-top:0;
    }
    .mid-center img,
    .mid-bottom img
    {
        float: none;
        width: 75%;
    }
    .mid-center .txt-right, .mid-bottom .txt-left{
        float: none;
        padding-top: 41px;
        width: 100%;
        text-align: center;
    }
    .mid-bottom {
        padding-bottom: 49px;
    }
    .content-bottom .contents {
        padding: 7px 10px 22px;
    }
    .content-bottom .contents p {
        padding-top: 20px;
        line-height: 28px;
    }
    .hand .txt {
        font-size: 21px;
        padding: 117px 16px 256px 126px;
        background-size: 60% 70%;
    }
}