<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
  </head>
  <body class="about">
    <div id="wrapper">
          <header>
           <nav class="top-nav-left">
            <ul>
              <li><a href ="../index.html">Home</a></li>
              <li><a href ="#">About</a></li>
            </ul>
          </nav>
          <ul class="top-nav-right">
            <li><a href ="#" class="icons fb"></a></li>
            <li><a href ="#" class="icons tweet"></a></li>
          </ul>
          <h1 class="logo"><img src="../img/upcomer-logo.png"></h1>
        </header>
      <div class="main">
           <div class="content-top" style="border-top: 2px solid #e5e5e5;">
            <div class="contents" style="max-width:930px">
              <img src = "../img/illustration3.png" class="img-right-top">
              <div class="txt-left-top">
                <h3>Why we do what we do</h3>
                <h5 style="line-height:30px;">We believe that it should be easy, fun and rewarding to stay
                    updated on upcoming products that you care about.
                    We do also beieve that we as consumers should have the
                    possibility to be more involved in the development of
                    upcoming products which will result in better products.
                    And that the brands behind the products will benefit
                    greatly from a closer relationship with their customers.
                    Upcomer is built upon these beliefs and with your help
                    we will build the next big thing, to let the peope know
                    about the next big things!
                </h5>
              </div>
            </div>
           </div>
           <div class = "content-mid" style="height:625px;background-color: #f1f1f1;">
              <div class="contents" style="padding:0;height:625px;">
                <div class="content-left" style="float:left;width:40%;">
                  <div>
                    <h3 style="font-size:22px">A new idea was forming</h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                  </div>
                  <div>
                    <h3 style="font-size:22px">Android app developed</h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                  </div>
                </div>
                  <div class="blur"></div>
                  <ul class="red-rounds">
                    <li>2014</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>NOW</li>
                  </ul> 
                <div class="content-right" style="float:right;width:40%;">
                   <div>
                    <h3 style="font-size:22px">Design and brandidentity</h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                  </div>
                  <div>
                    <h3 style="font-size:22px">Beta signup launched</h3>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                  </div>
                </div>
              </div>
          </div>
          <div class = "content-bottom">
              <div class="contents">
                <div class="txt-center-bottom">
                  <div>
                    <h3>We are looking for...</h3>
                    <h5><p>We are not only building an awesome product that millions of people will love to use, but also a great company. We face tremendous challenges on the development side and we need truly talented and passionate developers to join our team. We are building exciting things that didn't exist before!</h5>
                  </div>
                  <div>
                      <h5><p>We are looking for both frontend and backend developers.</p>
                      <p style="word-break:break-all">We offer a significant amount of shares for our early employees/co-founders.</p>
                      <p>Send us an email and let's get talking!</p></h5>
                  </div>
                </div>
                <button type="submit" id="hello">hello@upcomer.com</button>
              </div>
          </div>

      </div>
    </div>
    <footer>
         <section class="hand">
         <div class="contents">            
            <div class="hand-img" style="position:relative">
            <div class="txt" style="position:absolute">#upcomeriscoming</div>
            </div>
          </div>
       </section>
        <div class="contents">
          <ul class ="footer-icons">
            <li><a href ="#" class="icons fb"></a></li>
            <li><a href ="#" class="icons tweet"></a></li>
           </ul>
      </div>
    </footer>
  </body>
</html>