<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Upcomer Project</title>
   <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/responsive.css">
  </head>
  <body class="home">
    <div id="wrapper">
          <header>
           <nav class="top-nav-left">
            <ul>
              <li><a href ="../index.html">Home</a></li>
              <li><a href ="#">About</a></li>
            </ul>
          </nav>
          <ul class="top-nav-right">
            <li><a href ="#" class="icons fb"></a></li>
            <li><a href ="#" class="icons tweet"></a></li>
          </ul>
          <h1 class="logo"><img src="../img/upcomer-logo.png"></h1>
        </header>
      <div class="main">
        <div class="content-top">
          <div class = "contents">
             <h2>We have added your email
                address to the sign-up queue
             </h2>
             <h4 class="h4-sign-up"><span>we will let you know as soon as you can get Upcomer.</span>
                  <span>Be sure your friends don't miss out!</span>
             </h4>
            </div>
             <ul class="share-icons">
                <li><a href="" class="icons fb-share"></a></li>
                <li><a href="" class="icons twt-share"></a></li>
                <li><a href="" class="icons email-share"></a></li>
            </ul>
          </div>
        <div class="content-mid">
            <div class="mid-top">
              <div class="contents">
                <div class="txt-center">
                  <h3>Personalize your feed</h3>
                  <h5><span>Choose your favourite brands and product categories to
                  get noticed as soon as a new product is announced</span></h5>
                </div>
                  <img src="../img/feed_bg.png">
              </div>
            </div>
            <div class="mid-center">
              <div class="contents">
              <img src="../img/illustration1.png" class="img-left">
              <div class="txt-right">
                <h3><p>All in one place</p></h3>
                <h5><p>Follow products to get the most important updates
                such as release date, price, specification, reviews,
                give aways and more in your personal feed</p></h5>
              </div>
              </div>
            </div>
            <div class="mid-bottom">
                <div class="contents">
                <img src="../img/illustration2.png" class="img-right">
                <div class="txt-left">
                  <h3><p>Be the first to know</p></h3>
                   <h5><p>Get push notifications when something big happens
                    such as a new product, beta sign up or when you
                    can buy a pre-order a product</p></h5>
                </div>
                </div>
            </div>
        </div>
       <div class="content-bottom">
        <div class="contents">
            <h4>
              <p style="text-align:center">We have added your email address to the sign-up queue</p>
              <p style="text-align:center">We will let you know as soon as you can get Upcomer.<br>
                 Be sure your friends don't miss out!</p>
            </h4>
          </div>  
          <ul class="share-icons">
            <li><a href="" class="icons fb-share"></a></li>
            <li><a href="" class="icons twt-share"></a></li>
            <li><a href="" class="icons email-share"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
         <section class="hand">
         <div class="contents">            
            <div class="hand-img" style="position:relative">
            <div class="txt" style="position:absolute">#upcomeriscoming</div>
            </div>
          </div>
       </section>
        <div class="contents">
          <ul class ="footer-icons">
            <li><a href ="#" class="icons fb"></a></li>
            <li><a href ="#" class="icons tweet"></a></li>
           </ul>
      </div>
    </footer>


  </body>
</html>